html {
  font-size: 18px;
}
body {
  background-color: white;


h1 {
  font-size: 3.75 rem; / * 60px / 16px = 3.75 rem*/
  font-weight: bold;
  text-align: center;
  margin-top: 6.25 rem; /* 100px / 16px = 6.25rem */
  margin-bottom: 6.25 rem; /* 100px / 16px = 6.25rem */
}
h2{
  font-size: 1.2rem; /* 24px / 16px = 1.5rem */
  background-color : #d8ffb1;
  padding: 20px; /* 30px / 16px = 1.875rem */
  width: 65.957447%; /* 930px / 1430px */;
  margin: 0 auto;
}